.course-detail-page {
    width: 100%;
    height: 95vh;
    background-color: #D8D9DA;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
}

.course-detail-container {
    margin-top: 50px;
    padding-top: 75px;
    background-color: white;
    width: 1400px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.course-detail-course {
    display: flex;
    gap: 80px;
}

.course-detail-image {
    width: 560px;
    height: 320px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

.course-detail-right {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.course-detail-right-header {
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
}

.course-detail-enroll {
    display: flex;
    justify-content: flex-end;
}

.enroll-button {
    border: 0;
    background-color: #007bff; 
    color: white;
    width: 140px;
    height: 50px;
    font-size: 18px;
    border-radius: 8px;
    transition: 0.4s;
    cursor: pointer;
}

.enroll-button:hover {
    background-color: #0056b3;
}

.enroll-button:active {
    transform: scale(0.98);
    background-color: #003070; 
}

.enrolled-message {
    color: #28a745;
    font-size: 18px;
    font-weight: bold;
}


.enrolled-message {
    color: #28a745;
    font-size: 18px;
    font-weight: bold;
}

.course-detail-registered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
}

.start-button {
    width: 80px;
    height: 35px;
    border: 0;
    background-color: #009419; 
    color: white;
    font-size: 18px;
    border-radius: 8px;
    transition: 0.4s;
    cursor: pointer;
}

.start-button:hover {
    background-color: #0056b3;
}

.start-button:active {
    transform: scale(0.98);
    background-color: #003070; 
}

.course-detail-lesson-container {
    width: 70%;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.course-detail-lesson {
    display: flex;
    flex-direction: column;
    background-color: rgb(170, 169, 169);
    padding-top: 10px;
    padding-left: 50px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
}

.course-detail-lesson-header {
    font-size: 20px;
    font-weight: bold;
}

.click-to-certificate {
    text-decoration: none;
    background-color: transparent; 
    border: none; 
    color: rgb(41, 41, 58); 
    cursor: pointer; 
    font-weight: bold; 
    padding: 0;
}


.click-to-certificate:hover {
    color: darkblue;
    text-decoration: underline; 
}
