.page2 {
    width: 100%;
    height: 89vh;
    background-color: #D8D9DA;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
}

.course-create-container {
    display: flex;
    flex-direction: column;
    width: 1000px;
    background-color: white;
    border-radius: 10px;
    padding-bottom: 20px;
}

.course-line {
    display: grid;
    grid-template-columns: 100px 1fr;
    align-items: center;
    padding-left: 40px;
    padding-top: 30px;
}

.course-line-upload {
    display: grid;
    grid-template-columns: 100px 1fr;
    align-items: center;
    padding-left: 40px;
    padding-top: 30px;
}

.course-line input {
    width: 40%;
    height: 35px;
}

.course-line select {
    width: 41%;
    height: 40px;
}

.course-create-button{
    display: flex;
    justify-content: right;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 40px;
}

.course-create-button button {
    height: 40px;
    width: 80px;
    color: black;
    background-color: rgb(127, 190, 0);
    border: 0px;
    border-radius: 10px;
    transition: all 0.5s;
    cursor: pointer;
}

.course-create-button button:hover {
    color: white;
    background-color: green;
}

.line-divider {
    width: 95%;
    margin-top: 30px;
}

.lesson-line {
    display: grid;
    grid-template-columns: 100px 1fr;
    align-items: center;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 10px;
    overflow: hidden;
}

.lesson-line-upload {
    display: grid;
    grid-template-columns: 100px 1fr;
    align-items: center;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 10px;
    overflow: hidden;
}

.lesson-choice {
    display: flex;
}

.lesson-choice-line {
    display: flex;
}

.lesson-line input {
    width: 40%;
    height: 35px;
}

.quiz-form {
    max-width: 800px;
    margin-left: 40px;
}

.form-group {
    display: grid;
    grid-template-columns: 100px 1fr;
    align-items: center;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.form-group-choice {
    display: grid;
    grid-template-columns: 100px 1fr 60px;
    align-items: center;
    padding-bottom: 10px;
}

.form-group-choice label {
    margin-right: 10px;
    white-space: nowrap;
}

.custom-input,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

.custom-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.custom-button:hover {
    background-color: #0056b3; /* เปลี่ยนสีเมื่อ hover สำหรับปุ่มทั่วไป */
}

.custom-button-add-option {
    background-color: #d1830d;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s; 
}

.custom-button-submit-question {
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s;
}

.custom-button-add-option:hover {
    background-color: #c27a0d;
}

.custom-button-submit-question:hover {
    background-color: #1e7e34;
}

.custom-button:active {
    background-color: #004080;
}

.custom-button-add-option:active {
    background-color: #9e630c;
}

.custom-button-submit-question:active {
    background-color: #155724;
}

.custom-button-line {
    display: flex;
    gap: 20px;
}

.btn-add-option {
    background-color: #28a745;
}

.btn-submit-question {
    background-color: #dc3545;
}

.add-question-button-line {
    margin-left: 40px;
}
.add-question-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
}

.add-question-button:hover {
    background-color: #0056b3;
}

.add-question-button:active {
    background-color: #004080;
}

.custom-button-line-save {
    margin-top: 20px;
    margin-left: 40px;
}

.custom-button-save-option {
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s; 
}

.custom-button-save-option:hover {
    background-color: #1f8036;
}

.custom-button-save-option:active {
    background-color: #13491f;
}

.lesson-line-quiz-title {
    display: flex;
    align-items: center;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 10px;
    gap: 65px;
    overflow: hidden;
}

.titleBox-quiz {
    width: 500px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}