.register-course-page {
    height: 91vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    background-color: #D8D9DA;
  }
  
  .register-course-container {
    background-color: white;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .register-course-header {
    font-size: 23px;
    text-decoration: underline;
    margin-top: 20px;
  }
  